packages/*
!packages/StyleCop.MSBuild.4.7.44.1
packages/StyleCop.MSBuild.4.7.44.1/*
!packages/StyleCop.MSBuild.4.7.44.1/tools
packages/StyleCop.MSBuild.4.7.44.1/tools/*
!packages/StyleCop.MSBuild.4.7.44.1/tools/StyleCopPlus.dll
/*.sln.DotSettings.user
/*.v11.suo
/*.sln.DotSettings
/.vs/
/_NCrunch_SuccincT/
*.ncrunchsolution.user
*.v12.suo
/nuget deploy notes.txt
/.idea/
*.sln.iml
